Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
config.h
config.h.in
stamp-h1
data/org.freedesktop.Telepathy.ConnectionManager.haze.service
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
src/telepathy-haze
src/telepathy-haze.8

*.o
*.swp
*~
autom4te.cache

