/INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
config.h
config.h.in
cscope.out
stamp-h1
data/org.freedesktop.Telepathy.ConnectionManager.haze.service
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps
.libs
src/telepathy-haze
src/telepathy-haze.8
tags
/tests/haze-testing.log
/tests/org.freedesktop.Telepathy.ConnectionManager.haze.service
/tests/tmp-session-bus.conf

*.o
*.swp
*~
*.pyc
autom4te.cache
